PORT=4001
DATABASE_URL="mongodb://root:rootpass@localhost:27017/auth_db?authSource=admin"
JWT_ACCESS_SECRET=change_me_access_secret_dev
JWT_REFRESH_SECRET=change_me_refresh_secret_dev
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
